#search_icon {
  width: 18px;
  height: 18px;
}

#search_input {
  background: initial;
  border-style: none;
  padding: 0;
  color: #b90000;
  outline: none;
  box-shadow: none;
}

#search_input:focus {
  /*background: red;*/
  border-style: none;
  border-width: 10px;
  color: #b90000;
  border-color: #ffcccc;
}

@media (min-width: 1200px) {
  #filtros_search {
    background: #FFCCCC;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

@media (min-width: 576px) and (max-width: 1200px) {
  #filtros_search {
    background: #FFCCCC;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    gap: 8px;
    align-items: center;
    /*width: min-content;*/
  }
}

#search_input::placeholder {
  color: #b90000;
}

@media (max-width: 576px) {
  #filtros_search {
    display: none;
  }
}

#filtros_search2 {
  background: #b90000;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
}

#search_input2 {
  background: initial;
  border-style: none;
  padding: 0;
  color: #ffffff;
  outline: none;
  box-shadow: none;
}

#search_input2::placeholder {
  color: #ffffff;
}