#componente_cardGames {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

#cardGames_image_div {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  aspect-ratio: 4/3;
  width: 100%;
}

#cardGames_img {
  aspect-ratio: 4/3;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  height: auto;
}

#cardGames_contents {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#contents_generos {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#contents_titulo {
  color: black;
}

#generos_text {
  color: black;
}

#quitBtn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0px 20px !important;
  z-index: 1;
}
