.select {
  padding: 12px;
  /*border-style: none !important;*/
  border-radius: 10px;
  background: #ffcccc;
  font-family: "outfit", sans-serif;
  font-size: 16px;
  border-style: solid;
  border-color: #ffcccc;
  color: #b90000;
  border-width: 0px 12px 0px 0px;
}

.select2 {
  padding: 12px;
  /*border-style: none !important;*/
  border-radius: 10px;
  background: #b90000;
  font-family: "outfit", sans-serif;
  font-size: 16px;
  border-style: solid;
  border-color: #b90000;
  color: #fff;
  border-width: 0px 12px 0px 0px;
}

.label_select {
  display: flex;
  gap: 4px;
  font-size: 14px;
  color: #b90000;
  font-family: "outfit", sans-serif;
  flex-direction: column;
}

.label_select2 {
  display: flex;
  gap: 4px;
  font-size: 14px;
  color: #fff;
  font-family: "outfit", sans-serif;
  flex-direction: column;
}
