#seccion-hero {
  background: url("../../../../public/img/image 3.webp") center / cover no-repeat;
  min-height: 70vh;
  color: #ffffff;
  display: flex;
  justify-content: center;

  & #div_hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

}


#seccion-descripcion-autor {
  padding-left: var(--padding-lr-t4);
  padding-right: var(--padding-lr-t4);
}


#section_proyecto {
  & #seccion-descripcion-proyecto {
    background: rgba(216, 216, 216, 0.2);
    color: black;
    padding-left: var(--padding-lr-t4);
    padding-right: var(--padding-lr-t4);
  }

  @media (max-width: 1200px) {
    & #proyecto_img {
      background: url("../../../../public/img/Frame 1000002335.webp");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      /*aspect-ratio: 1/1;*/
      min-height: 400px;
    }
  }

  @media (min-width: 1200px) {
    & #proyecto_img {
      background: url("../../../../public/img/Frame 1000002335.webp");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

}

@media (max-width: 1200px) {
  #section_proyecto {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (min-width: 1200px) {
  #section_proyecto {
    display: grid;
    grid-template-columns: 60% auto;
  }
}


#seccion-tecnologias {
  padding-left: var(--padding-lr-t4);
  padding-right: var(--padding-lr-t4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

  & #grid {
    grid-template-columns: repeat(auto-fill, minmax(max(35vw, 265px), 1fr));
    display: grid;
    gap: var(--gap-t1);

    & #titulo_icono {
      gap: 14px;
      display: flex;
      justify-content: start;
      align-items: center;
    }

    & #item_tecnologias {
      gap: 8px;
      display: flex;
      flex-direction: column;
    }
  }
}