#hero {
    min-height: 100vh;
    background: url("../../../public/img/image 1mod.webp") center / cover no-repeat;
    display: flex;
    align-items: center;
    color: #ffffff;
}

#hero_botonera {
    display: flex;
    gap: 8px;
}

#contents_p {
    min-width: 200px;
    max-width: 45%;
}

@media (max-width: 992px) {
    #botonera_btn2 {
        display: none;
    }
}